*{
   box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.transparente{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;
    opacity: 0;
}

.caixa-cronometro{
    background-color: white;
    border-radius: 15px;
    width: 140px;
    height: 80px;
    position: fixed;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    top: 10px;
    right: 10px;
}

h1{
    color: #75B79E;
    font-size: 56px;
    margin-top: 30px;
    text-align: center;
}

.painel-cartas ul{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}

.carta{
    background-color: #A7E9AF;
    border: #99CEA8 1px solid;
    border-radius: 5px;
    height: 146px;
    margin: 10px 25px;
    width: 117px;

    transition: all 1s ;

}

.carta-virada{
    transform: rotatey(180deg)
}

.carta-selecionada{
    transform: rotatey(180deg)
}

.oculta{
    display: none;
}

.imagem-frente{
    margin: 23px 8px
}

.imagem-tras{
    width: 100px;
    height: 100px;
    margin: 23px 8px;
    transform: rotateY(180deg);
}

@media(max-width:1200px){
    .painel-cartas ul{
        width: 100%;
    }

    .caixa-cronometro{
        position: initial;
        margin: 10px auto 0 auto;
    }
}

@media(max-width:478px){
    .painel-cartas ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}